.home {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1366px;
  height: 768px;
  z-index: 8;
}
.home p {
  font-size: 14px;
  font-family: "Impact";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 563px;
  top: 551.066px;
  z-index: 7;
}
.I_m_Mykhailo {
  font-size: 30px;
  font-family: "Impact";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 597px;
  top: 425.142px;
  z-index: 6;
}
header {
  font-size: 48px;
  font-family: "Impact";
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 270px;
  top: 19.227px;
  z-index: 5;
}
.WELCOME {
  font-size: 72px;
  font-family: "Impact";
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: center;
  position: absolute;
  left: 544px;
  top: 334.3px;
  z-index: 4;
}
.Rectangle_2 {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  position: absolute;
  left: 322px;
  top: 206px;
  width: 720px;
  height: 400px;
  z-index: 3;
}
.Rectangle_1 {
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  position: absolute;
  left: -1px;
  top: -1px;
  width: 1366px;
  height: 100px;
  z-index: 2;
}
